<a href= 'public/ajax.txt'>Welcome to ajax </a><br>


<%=link_to '1. render html using ajax',renderhtmlajax_index_path %><br>
<%=link_to '2. render xml using ajax',renderxmlajax_index_path %> <br>
<%=link_to '3. render json using ajax',renderxmlajax_index_path %> <br>  